:root {
    --orange-light: #FEC024;
    --orange-dark: #F89D24;
    --gray-light: #B5B5B5;
    --gray-dark: #686868;
    --white: #FFFFFF;
    --black: #191919;
}

/*
    H1: # FFF 54px
    H2: # FFF 46px
    H3: # FFF 32px
    H4: # FFF 24px

    SUB: # F89D24 32px
    SUB: # F89D24 24px
    SUB: # F89D24 14px

    BODY: # B5B5B5 18px
    BODY: # B5B5B5 16px

    Tablet Multiplicar por 14/16 
    Mobile Multiplicar por 12/16

    Ao clicar no botão "Tenho Interesse", deverá abrir o modal com formulário;

    Utilizar SASS como pré-processador de CSS.
*/


.container {
    background: #2C2C2C;
    background: -webkit-radial-gradient(top right, #2C2C2C, #1A1A1A);
    background: -moz-radial-gradient(top right, #2C2C2C, #1A1A1A);
    background: radial-gradient(to bottom left, #2C2C2C, #1A1A1A);

    padding: 0 2rem;
}

.square {
    position: absolute;
    left: 1.2rem;
    width:110px;
    height:110px;
    border-right: 1px solid #FEC024;
    border-bottom: 1px solid #FEC024;
    border-left: 1px solid #FEC024;
}

.home {
    height: 100vh;
    width: 100vw;

    background: #2C2C2C;
    background: -webkit-radial-gradient(top right, #2C2C2C, #1A1A1A);
    background: -moz-radial-gradient(top right, #2C2C2C, #1A1A1A);
    background: radial-gradient(to bottom left, #2C2C2C, #1A1A1A);
}

.home__content {
    margin: 0 auto;  

    height: 100%;
    width: 87%;
    
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;

    text-align: center;
}

    .home__content img {
        position: absolute;
        left: 1rem;
        top: 1rem;
    }


    .home__content h1 {
            color: var(--white);
            font-size: 2.6rem;
            letter-spacing:0.85px;
            text-transform:capitalize;
            line-height: 1.3;
        }

    .home__content h2 {
        color: var(--gray-light);
        font-size:  0.9rem;
        font-weight: 300;
        line-height: 2.3;
    }

.button__purchase {
    display: flex;
    flex-direction: column;
    align-items: center;

}

    .button__purchase a {
        padding: 1.2rem 1.6rem;

        border-radius: 5px;
        
        font-weight: bold;
        text-transform: uppercase;
    }

    .button__purchase a:first-child {
        margin-bottom: 2rem;

        color: var(--white);
        border: 1px solid var(--white);
    }

    .button__purchase a:last-child {
        color: var(--white);
        background: var(--orange-dark)
    }
.explanation {
    padding-top: 4rem;
}

.explanation__text h2 {
        max-width: 50%;
        margin-bottom: 1.5rem;        

        color: var(--white);
        font-size: 3.3rem; 
        letter-spacing: 1.01px;
    }

.explanation__text p {
    text-align: left;
    line-height: 2rem;
    color: var(--gray-light);
    font-size: 1rem;
    font-weight: 300;
}

.explanation__text p:nth-child(2) {
    font-weight: 600;
}

.explanation__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem;
}

    .explanation__content .card {
        width: auto;

        margin-bottom: 2.2rem;
        padding: 1.5rem 2rem;

        border: 1px solid #6E6E6E;
        border-radius: 5px;
        
        text-align: left;
    }

    .explanation__content .card img {
        display: block;

        margin: 1.1rem auto;
    }

    .explanation__content h3 {
        text-transform: uppercase;
        color: var(--orange-dark);
        font-weight: bold;
        font-size: 0.9;
    }

    .explanation__content p {
        color: var(--gray-light);
        font-weight: bold;
        line-height: 2rem;
    }

    
.inspiration__container__black {
    background: black;    
}

    .inspiration__background {
        background: url("../imgs/background-inspiration-mobile.svg"), no-repeat center;
        opacity: 0.3;
    }

.inspiration > div > p {
    padding: 3.5rem 1.5rem;
        
        color: var(--white);

        text-align: center;
        text-transform: capitalize;
        font-size: 3rem;
        letter-spacing: 0.85px;

        opacity: 1;
    }

.value {
    display: flex;
    flex-direction: column;
    align-items: center;

    background:var(--orange-dark);
}

    .value p {
        color: var(--white);
        text-align: center;
        text-transform: capitalize;
        font-size: 3rem;
        letter-spacing: 0.85px;
        
        padding: 3.5rem 0 2rem  0;
    }

    .value a {
        padding: 1.3rem 3rem;

        margin-bottom: 3rem;

        border-radius: 5px;
        
        background: var(--white);
        color: var(--orange-dark);

        font-weight: bold;
        text-transform: uppercase;
    }

.learn {
    background: url("../imgs/teacher-bnw-mobile.png") no-repeat center center; 
    background-size: cover;
}


    .learn__title {      
        
        padding: 2.5rem 0;

        color: var(--white);
        font-size: 3rem; 
        letter-spacing: 1.01px;
    }


    .learn__description__title { 
        color: var(--white);

        padding: 0.6rem 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--gray-dark);
    }

    .learn__description__title h3 {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .learn__description__title img {
        width: 1.5rem;
        margin: 0 0.5rem;
    }


    .description {
        border-top: 1px solid var(--orange-dark);
        border-bottom: 1px solid var(--orange-dark);
        padding: 1rem;
        background-color: #262626;
        font-weight: 300;
        line-height: 1.8;
        font-size: 1.3rem;
        color: var(--white);
        display: none;
    }

    .learn div:nth-child(6){
        margin-top: 3rem;
    }


.teacher h2 {
    padding: 2.5rem 0;

    color: var(--white);
    font-size: 3rem; 
    letter-spacing: 1.01px;
}